@{
    ViewBag.Title = "Form";
}

<main aria-labelledby="title">
    <p>Формочка. Впиши мои данные</p><br />
    <form action="/Misterone" method="post" enctype="application/x-www-form-urlencoded">
        <input type="number" name="Id" value="" /><br />
        <input type="text" name="Summary" value="" /><br />
        <button type="submit">Вперед</button>
    </form>
</main>